.block-large {
  max-width: 1000px;
  margin: auto;
}

.no-select {
  user-select: none;
}

$textAligns: left, center, right;

@each $align in $textAligns {
  .text-#{$align} {
    text-align: $align;
  }
}

$textTransforms: uppercase, lowercase, capitalize;

@each $transform in $textTransforms {
  .text-#{$transform} {
    text-transform: $transform;
  }
}
