@use './utilities_partial.scss' as *;

.block-large {
  max-width: 1000px;
  margin: auto;
}

.no-select {
  user-select: none;
}

@each $align in $textAligns {
  .text-#{$align} {
    text-align: $align;
  }
}

@each $transform in $textTransforms {
  .text-#{$transform} {
    text-transform: $transform;
  }
}

.corner-squircle {
  @include corner-squircle;
}

.no-corner-squircle {
  @include no-corner-squircle;
}
