.meta {
  margin-top: 128px;
}

/* Fix Search page footer not locate at the bottom problem */
.container .meta {
  margin-top: 0px;
}
/* End of fix */

.meta .type {
  color: var(--grey);
  font-weight: 600;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
