/* This Code Highlighting Theme is based on GitHub Theme */

.gutter {
  color: var(--grey);
  user-select: none;
}

@mixin light-styles {
  .name {
    color: #22863a;
  }

  .attr,
  .meta,
  .meta-keyword,
  .attribute,
  .number,
  .selector-class {
    color: #005cc5;
  }

  .string {
    color: #032f62;
  }

  .symbol {
    color: #005cc5;
  }

  .selector-tag {
    color: #22863a;
  }

  .built_in {
    color: #6f42c1;
  }

  .keyword {
    color: #d73a49;
  }
}
@mixin dark-styles {
  .name {
    color: #7ee787;
  }
  .attr,
  .meta,
  .meta-keyword,
  .attribute,
  .number,
  .selector-class {
    color: #79c0ff;
  }
  .string {
    color: #a5d6ff;
  }
  .symbol {
    color: #79b8ff;
  }
  .selector-tag {
    color: #7ee787;
  }
  .built_in {
    color: #d2a8ff;
  }
  .keyword {
    color: #ff7b72;
  }
}

body[data-color-scheme='auto'],
body[data-color-scheme='light'] {
  .highlight {
    @include light-styles;
  }
}

@media (prefers-color-scheme: dark) {
  body[data-color-scheme='auto'] {
    .highlight {
      @include dark-styles;
    }
  }
}

body[data-color-scheme='dark'] {
  .highlight {
    @include dark-styles;
  }
}
