.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-grid {
    max-width: 1000px;
    margin: auto;
    padding: 0 16px;
}

@media screen and (max-width: 1000px) {
    .card-grid {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .card-grid {
        display: block;
    }
}

.card {
    overflow: hidden;
    border-radius: 7px;
    background-color: var(--card-bg);
    margin-bottom: 21px;
    transition: all 200ms ease;
}

.card:nth-child(3n-2) {
    margin-left: 0;
    margin-right: 8px;
}

.card:nth-child(3n-1) {
    margin-left: 8px;
    margin-right: 8px;
}

.card:nth-child(3n) {
    margin-left: 8px;
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    .card:nth-child(2n-1) {
        margin-left: 0;
        margin-right: 8px;
    }
    .card:nth-child(2n) {
        margin-left: 8px;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .card {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
}

.card .cover-img {
    overflow: hidden;
    height: 266px;
}

.card .cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1), filter 400ms cubic-bezier(0.4, 0, 0.25, 1);
}

.card:hover .cover-img img {
    transform: scale(1.03);
    filter: brightness(0.85);
}

.card .content {
    padding: 18px;
}

.card .title {
    font-weight: bold;
    font-size: 24px;
    color: var(--black);
    text-decoration: none;
    padding: 0;
}

.card .description {
    font-size: 17px;
    color: var(--black-1);
    padding: 0;
}

.card .actions {
    padding: 16px;
    padding-top: 0;
    display: flex;
}

.card .actions .left {
    justify-content: flex-start;
}

.card .actions .right {
    margin-left: auto;
    justify-content: flex-end;
}

.actions .action-button-primary {
    background-color: var(--blue);
    color: var(--white-txt-on-blue-bg);
    padding: 6px 12px;
    border-radius: 32px;
    text-decoration: none;
    transition: 0.5s;
}

.actions .action-button-primary:hover {
    background-color: var(--link);
}

.block-large {
    max-width: 1000px;
    margin: auto;
}

.badge {
    --color: var(--link);
    font-size: 16px;
    border: 2px solid var(--color);
    color: var(--color);
    padding: 0 8px;
    margin: 0 6px;
    border-radius: 24px;
}

.badge.warning {
    --color: #fdc008;
}

.badge.secondary {
    --color: #6c7781;
}

.badge.success {
    --color: #31b14e;
}

.no-select {
    user-select: none;
}