footer {
    background-color: var(--white);
    width: 100%;
    border-top: 1px solid var(--border-color);
    user-select: none;
}

.inner {
    max-width: 980px;
    margin: auto;
    padding: 32px 16px;
}

footer .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
    footer .links {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    footer .links {
        grid-template-columns: 1fr;
    }
}

footer .group {
    margin: 0;
    margin-bottom: 16px;
}

footer .title {
    margin: 0;
    margin-bottom: 8px;
}

footer .item {
    display: block;
}