.hero {
    height: calc(100vh - 56px);
    display: grid;
    place-items: center;
}

.hero .group {
    width: 100%;
}

.hero .sub {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black-4);
    font-weight: 100;
    margin: 0;
    transition: font-size 0.5s;
}

.hero .large {
    font-size: 128px;
    color: var(--black-2);
    margin: 0;
    transition: font-size 0.5s;
}

@media screen and (max-width: 800px) {
    .hero .sub {
        font-size: 16px;
    }
    .hero .large {
        font-size: 84px;
    }
}