:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-top: 56px;
  color: var(--black-2);
  background-color: var(--body-bg);
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#skip-to-content {
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(calc(-100% - 56px));
  z-index: 1100;
  background-color: var(--nav-bg);
  color: var(--link);
  border: 1px solid var(--border-color);
  backdrop-filter: var(--blur);
  padding: 10px 20px;
  border-radius: 100px;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;

  &:focus {
    transform: translateX(-50%) translateY(calc(-100% + 12px));
    outline: none;
    text-decoration: underline;
    box-shadow: 0px 8px 24px #0002;
  }
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 0 16px;
}

.section-title {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: 0.004em;
  margin-bottom: 24px;
  color: var(--card-title);
}
