nav {
    height: 48px;
    background-color: var(--white-opacity-8);
    border-bottom: 1px solid var(--border-color);
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: var(--blur);
}

nav>.inner {
    max-width: 800px;
    margin: auto;
    padding: 0 16px;
}

nav>*>* {
    display: inline-block;
}

nav a, nav a:hover, nav a:focus, nav a:active, nav a:link, nav a:visited {
    text-decoration: none;
    color: var(--black-4);
}

nav .title {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 48px;
    color: var(--black-2)!important;
}

nav .nav-items {
    height: 48px;
    float: right;
    text-align: right;
}

nav .nav-item {
    text-align: center;
    flex: 1;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}