.post-list {
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 980px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .post-list {
        display: block;
        max-width: 366px;
    }
}

.post-list-item {
    overflow: hidden;
    border-radius: 7px;
    background-color: var(--card-bg);
    margin-bottom: 21px;
    transition: all 200ms ease;
}

.post-list-item:nth-child(2n-1) {
    margin-right: 8px;
}

.post-list-item:nth-child(2n) {
    margin-left: 8px;
}

@media screen and (max-width: 600px) {
    .post-list-item:nth-child(n) {
        margin-left: 0;
        margin-right: 0;
    }
}

.post-list-item .cover-img {
    overflow: hidden;
    height: 266px;
}

.post-list-item .cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1), filter 400ms cubic-bezier(0.4, 0, 0.25, 1);
}

.post-list-item:hover .cover-img img {
    transform: scale(1.03);
    filter: brightness(0.85);
}

.post-list-item .title {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 700;
    letter-spacing: .009em;
    max-height: 7em;
    color: var(--card-title);
    overflow: hidden;
}

.post-list-item .content {
    padding: 32px;
}

.post-list-item .title a, .post-list-item .title a:hover, .post-list-item .title a:focus, .post-list-item .title a:active, .post-list-item .title a:link, .post-list-item .title a:visited {
    font-weight: bold;
    font-size: 24px;
    color: var(--black);
    text-decoration: none;
}

.post-list-item .excerpt {
    font-size: 17px;
    color: var(--black-1);
}

@media screen and (max-width: 800px) {
    .post-list-item .content {
        font-size: 12px;
    }
}

.post-list-item .time {
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 600;
    letter-spacing: -.016em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    color: var(--card-time);
}

.post-list-item .read-more {
    text-align: right;
}

.post-list-item .read-more button {
    font-size: 12px;
    outline: none;
    border: none;
    background-color: var(--blue);
    color: var(--white-txt-on-blue-bg);
    padding: 6px 12px;
    border-radius: 32px;
    cursor: pointer;
}