body {
  background-color: var(--body-bg);
}

.post {
  margin: 128px 0;
}

.meta .categories {
  color: var(--link);
  margin-bottom: 6px;
  font-weight: 600;
}

.meta .categories a {
  font-size: 13px;
  margin-right: 6px;
  text-decoration: none;
}

.meta .date {
  color: var(--grey);
  font-weight: 600;
}

.meta .title {
  font-size: 48px;
  margin-top: 16px;
}

.content {
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: 0.012em;
}

.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.meta .categories,
.meta .date,
.content figure,
.divider,
.container,
hr,
.meta .title,
.toc,
.content blockquote,
.content table,
.content video,
.content ul,
.content ol,
.content > mjx-container,
.content > .katex,
.about {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.content p img,
.content .block-large img {
  border-radius: 10px;
}

.content .highlight {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--card-bg);
  border-radius: 15px;
  max-width: calc(800px - 16px * 2);
}

@media screen and (max-width: 800px) {
  .content .highlight {
    border-radius: 0;
  }
}

.content .highlight .gutter {
  padding-right: 16px;
}

.content table,
.content video {
  display: block;
}

.content video {
  max-width: 100%;
  padding: 0;
}

.content ul,
.content ol {
  padding: 0 16px;
  padding-left: 32px;
  max-width: calc(800px - 16px * 2);
}

.content ul *,
.content ol * {
  padding: 0;
}

.content blockquote {
  max-width: calc(800px - 16px * 2);
  padding: 0 8px;
}

/* for [hexo-math](https://github.com/hexojs/hexo-math): */
.content > mjx-container,
.content > .katex {
  display: block;
  text-align: center;
}

.tags .tag {
  display: inline-block;
  margin-right: 4px;
}

.about {
  border-radius: 7px;
  background-color: var(--card-bg);
  padding: 16px;
  margin: 64px auto;
}

.about h1 {
  margin: 0;
}

.about .details {
  margin: 16px 0;
}

.about .details p {
  margin: 6px 0;
}

.content h1 > .headerlink,
.content h2 > .headerlink,
.content h3 > .headerlink,
.content h4 > .headerlink,
.content h5 > .headerlink,
.content h6 > .headerlink {
  opacity: 0;
  color: var(--grey);
  font-weight: normal;
  position: absolute;
  padding-right: 6px;
  transform: translateX(-100%);
  transition: opacity 0.2s;
}

.content h1:hover > .headerlink,
.content h2:hover > .headerlink,
.content h3:hover > .headerlink,
.content h4:hover > .headerlink,
.content h5:hover > .headerlink,
.content h6:hover > .headerlink {
  opacity: 1;
  text-decoration: none;
}

.content h1 > .headerlink::before,
.content h2 > .headerlink::before,
.content h3 > .headerlink::before,
.content h4 > .headerlink::before,
.content h5 > .headerlink::before,
.content h6 > .headerlink::before {
  content: "#";
}

.content > h1 {
  font-size: 36px;
}

.content > h2 {
  font-size: 30px;
}

.content > h3 {
  font-size: 26px;
}

.content > h4 {
  font-size: 20px;
}

.content > h5 {
  font-size: 16px;
}

.content > h6 {
  font-size: 14px;
}
