#searchbox {
  display: block;
  outline: none;
  width: calc(100% - 16px * 2);
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-primary);
  padding: 12px 16px;
  font-size: 20px;
  border-radius: var(--radius-medium);
  transition: background-color 0.2s;

  &:hover,
  &:focus-visible {
    background-color: var(--color-background-secondary-hover);
  }

  &::placeholder {
    color: var(--color-text-tertiary);
  }
}

#search-results {
  margin-bottom: 128px;

  .no-results {
    color: var(--color-text-tertiary);
    text-align: center;
  }
}
