.tags {
  margin-bottom: 128px;

  .tag {
    padding: 8px 16px;
    margin: 4px;
    font-size: 14px;
    border-radius: var(--radius-full);
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    text-decoration: none;
    border: 1px solid var(--color-border-primary);
    transition-property: background-color, color;
    transition-duration: 0.2s;

    &:hover,
    &:focus-visible {
      background-color: var(--color-background-secondary-hover);
      color: var(--color-text-primary-hover);
    }
  }
}
