.toc > p {
  margin: 0;
}

.toc > p > a {
  color: var(--black-4);
  text-decoration: none;
  display: inline-block;
  padding: 8px 0;
  padding-left: 12px;
  border-left: 1px solid var(--border-color);
  transition: color 0.2s, border-color 0.2s;
}

.toc > p > a:hover,
.toc > p > a:focus-visible {
  color: var(--black);
  text-decoration: none;
  border-color: var(--black-2);
}
