:root {
    --white-opacity-8: rgba(255, 255, 255, .8);
    --white-1-opacity-8: rgba(229.5, 229.5, 229.5, .8);
    --white: #fff;
    --white-1: rgb(229.5, 229.5, 229.5);
    --white-2: rgb(204, 204, 204);

    --grey: rgb(127.5, 127.5, 127.5);

    --black: #000;
    --black-2: rgb(51, 51, 51);
    --black-4: rgb(102, 102, 102);

    --border-color: #eee;

    --blur: blur(32px);

    --blue: #0071e3;
    --white-txt-on-blue-bg: #fff;

    --body-bg: #f5f5f7;
    --card-bg: #fff;
    --card-border: #d2d2d7;
    --date-txt: #6e6e73;
}

@media (prefers-color-scheme: dark) {
    :root {
        --white-opacity-8: rgba(0, 0, 0, .8);
        --white-1-opacity-8: rgba(25.5, 25.5, 25.5, .8);
        --white: #000;
        --white-1: rgb(25.5, 25.5, 25.5);
        --white-2: rgb(51, 51, 51);

        --black: #fff;
        --black-2: rgb(204, 204, 204);
        --black-4: rgb(153, 153, 153);

        --border-color: #222;

        --blur: blur(32px);

        --blue: #00376f;
        --white-txt-on-blue-bg: #c0dfff;

        --body-bg: #101010;
        --card-bg: #181818;
        --card-border: #1c1c1d;
        --date-txt: #6e6e73;
    }
}