@view-transition {
  navigation: auto;
}

@keyframes view-transition-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes view-transition-fade-in {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

::view-transition-old(root) {
  animation: 0.2s ease-in forwards view-transition-fade-out;
}

::view-transition-new(root) {
  animation: 0.35s cubic-bezier(0.2, 0.2, 0.2, 1) 0.25s both
    view-transition-fade-in;
}

nav {
  view-transition-name: nav;
}
