<div class="container">
    <div class="meta">
        <h2 class="title">
            <%= __('search') %>
        </h2>
    </div>
    <form id="search-form">
        <input type="text" id="searchbox" placeholder="<%= __('type_to_search') %>">
    </form>
    <div class="post-list archives" id="search-results"></div>
</div>